body {
    font-family: 'Arial', sans-serif;
    background-color: #d697dd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

#stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 2em;
    border: 2px solid #0d0d0d;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

#time-display {
    font-size: 3em;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

#time-display div {
    margin: 0 5px;
}

#controls {
    margin-bottom: 20px;
}

#controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #753786;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#controls button:hover {
    background-color: #59385f;
    transform: scale(1.05);
}

#laps {
    margin-top: 20px;
    font-size: 1.2em;
    max-height: 200px;
    overflow-y: auto;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#laps div {
    margin: 5px 0;
    padding: 5px;
    background-color: #f4dbfa;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}